<div *ngFor="let order of orders" class="p-6 mb-6 border border-gray-300 shadow-md rounded-lg bg-white">
  <!-- Encabezado de la orden -->
  <div class="flex justify-between items-center mb-4">
    <h3 class="text-2xl font-semibold text-gray-800">
      Orden #{{ order.id }}
    </h3>
    <p class="text-sm text-gray-600">
      <strong>Fecha:</strong> {{ order.order_date }}
    </p>
  </div>

  <!-- Información del cliente -->
  <p class="text-lg font-medium text-gray-700 mb-2">
    Cliente: <span class="font-semibold">{{ order }} {{ order.customer_lastname }}</span>
  </p>
  
  <!-- Total -->
  <p class="text-lg font-semibold text-lime-700 mb-4">
    Total: ${{ order.total_price }}
  </p>

  <!-- Lista de productos -->
  <h4 class="text-xl font-semibold text-gray-800 mb-3">Productos:</h4>
  <ul class="space-y-3">
    <li *ngFor="let product of order.products" 
        class="flex justify-between items-center p-4 border border-gray-200 rounded-lg bg-gray-50">
      <div>
        <p class="font-medium text-gray-800">{{ product.name }}</p>
        <p class="text-sm text-gray-600">
          {{ product.stock }} x ${{ product.price }} 
          <span *ngIf="product.discount_price" class="text-red-500 ml-2">
            (Descuento: ${{ product.discount_price }})
          </span>
        </p>
      </div>
      <p class="font-semibold text-gray-900">
        ${{ (product.stock * (product.discount_price || product.price)).toFixed(2) }}
      </p>
    </li>
  </ul>
</div>
