<!-- <app-progress-bar *ngIf="loading"></app-progress-bar> -->
<!-- el progressbar todavia no está implementado, dejarlo comentado -->

<div *ngIf="!loading" class="container mx-auto p-6">
  <!-- Header Section -->
  <div class="flex justify-between items-center mb-6">
    <h4 class="text-2xl font-semibold text-gray-800">Listado de Categorías</h4>
    <form (ngSubmit)="addCategory()" class="flex gap-4 mb-2">
      <input 
        [(ngModel)]="newCategory.name" 
        name="brandName"
        placeholder="Nueva marca"
        class="border border-gray-300 p-2 rounded w-full focus:outline-none focus:ring-2 focus:ring-blue-400" 
        required
      />
      <button 
        type="submit" 
        class="bg-lime-600 text-white px-6 py-2 rounded-lg hover:bg-lime-700 focus:outline-none focus:ring-2 focus:ring-lime-400 transition duration-150">
        Agregar Marca
      </button>
    </form>
  </div>

  <!-- Table Section -->
  <div class="overflow-auto max-h-[500px] border border-gray-300 shadow-sm">
    <table *ngIf="listCategories.length > 0" class="min-w-full table-auto text-left border-collapse">
      <thead class="sticky top-0 bg-gradient-to-t from-slate-300 to-slate-200 z-10 shadow-md">
        <tr class="text-gray-700">
          <th class="p-4 text-left font-medium">ID</th>
          <th class="p-4 text-left font-medium">Nombre de la Categoría</th>
          <th class="p-4 text-left font-medium">Acciones</th>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-300">
        <tr *ngFor="let category of listCategories" class="hover:bg-gray-100 transition-all">
          <td class="px-4 py-3 border-b border-gray-300">{{ category.id }}</td>
          <td *ngIf="!category.editing" class="px-4 py-3 border-b border-gray-300">{{ category.name }}</td>
          <td *ngIf="category.editing" class="px-4 py-3 border-b border-gray-300">
            <input [(ngModel)]="category.name" class="border border-gray-300 p-2 rounded w-full" />
          </td>
          <td class="px-4 py-3 border-b border-gray-300 flex justify-center gap-2">
            <button *ngIf="!category.editing" (click)="editCategory(category)" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400 transition duration-150">
              Editar
            </button>
            <button *ngIf="category.editing" (click)="saveCategory(category)" class="bg-green-500 text-white px-4 py-2 rounded hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-green-400 transition duration-150">
              Guardar
            </button>
            <button *ngIf="category.editing" (click)="cancelEdit(category)" class="bg-red-500 text-white px-4 py-2 rounded hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-red-400 transition duration-150">
              Cancelar
            </button>
            <button (click)="deleteCategory(category.id)" class="bg-gray-500 text-white px-4 py-2 rounded hover:bg-gray-600 focus:outline-none focus:ring-2 focus:ring-gray-400 transition duration-150">
              Eliminar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- No Categories Message -->
  <h5 *ngIf="listCategories.length == 0" class="text-center text-gray-700 mt-4">No hay categorías para mostrar</h5>
</div>
